{% extends "main.html"%}
{%load static%}
{%block head%}
<link rel="stylesheet" href={% static 'css/details.css' %}>
{% endblock head%}
{% block content %}
              <div class="container bg-white">
                  <div class="movie-alldescription">
                      <div class="movie-box">
                          <img id="movie-img" src={{movie.image}}>
                      </div>
                      <div class="movie-description">
                          <div  class="movie-name">
                              <h2>{{movie.title}}</h2>
                            </div>
                              <ul class="movie-tags">
                                  <li class="movie-tag">
                                      <b>Оригінальна назва: </b>
                                      {{movie.original}}
                                    </li>
                                  <li class="movie-tag">
                                      <b>Рейтинг: </b>
                                      {{movie.rating}}
                                    </li>
                                <li class="movie-tag">
                                  <b>Дата виходу: </b>
                                  {{movie.date}}
                                </li>
                                <li class="movie-tag">
                                    <b>Жанр: </b>
                                    {{movie.genre}}
                                  </li>
                                  <li class="movie-tag">
                                      <b>Режисер: </b>
                                      {{movie.director}}
                                    </li>
                                    <li class="movie-tag">
                                        <b>Актори: </b>
                                        {{actors | join:", "}}
                                      </li>
                              </ul>
                          </div>
                      </div>
                      <div class="movie-data">
                        <h4>Про фільм "{{movie.title}}":</h4>
                          <p>
                            {{movie.description}}
                          </p>
                        </div>
                <div class="simular-movies">
                    <h4>Cхожі фільми:</h4>
                    <div class="movie-wrapper">
                        <div class="movie-box">
                            <img src="img/1.jpg" alt="img">
                        </div>
                        <div class="movie-box">
                            <img src="img/1.jpg" alt="img">
                        </div>
                        <div class="movie-box">
                            <img src="img/1.jpg" alt="img">
                        </div>
                </div>
                </div>
{% endblock content %}